* {
    font-family: 'Roboto', sans-serif;
}
/* parte header */
header {
    height: 100px;
    padding: 10px 0px;
    
}

.logo_desktop { 
    max-width: 100%;
    
}

.logo_desktop img {
    max-width: 100%;
}

.rounded {
    background-color: #e5e5e5;
    border-radius: none;
    
}

.input-group-text.border-0 {
    background-color:  #e5e5e5;
}

.input-group.rounded {
	
	color: grey
}

.fa-bell {
    color: #ff8f00;
}

.display_none {
    display: none;
}




.logo_mobile img {
    width: 50px;
    height: 50px;
}

@media (min-width: 992px) {
    
    .logo_mobile {
      display:none;

    } 

     .display_none {
        display:inline-block
    }
}



/* PARTE UTILITY BAR */

main {
    height: 100vh;
    
}

#utility-bar {
    width: 100px;
    background-color: #10273d;
    height: 100%;
    color: white;
    padding: 20px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#utility-bar i {
    margin-right: 10px;
}

#utility-bar a {
    text-decoration: none;
    color: white;
}




 
 @media (min-width: 992px) {
    #utility-bar {
        width: 200px;
        
    }

    #utility-bar .display_none {
        display: block;

 }
 
 .mobile {
    display: none;
 }

 }

 .container_upper {
    overflow-y: auto;
    width: 100%;
 }



 /* sottofoter */

 .sotto_footer {
    background-color: #1b72e8;
    height: 250px;
    width: 100%;
    color: white;
    padding: 10px 0px;
    
 }

 .sotto_footer h4 {
    font-size: 14px;
 }

 .sotto_footer h2 {
    display: inline-block;
    
 }

 .button-breadcamp {
    display: inline block;
    background-color: rgba(0, 0,0, 0.4);
    padding: 3px 5px;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 10px;

    
 }

 .number_students {
    font-size: 40px;
 }  


 .btn-outline-light {
    margin-left: 20px;
    padding: 5px 15px;
    font-size: 18px;
 }

 @media (min-width: 768px) { 
    .sotto_footer {
        height: 130px;
    }
    .display_md {
        display: none;
    }

    .sotto_footer .display_out {
        display: block;
    }

  }

  @media (min-width: 992px) {
    .button-breadcamp {
        font-size:0.6rem;
    }
  }

  /* table_card  */

  .table_card {
    margin: 20px 5px;
    font-size: 14px;
    
  }

  .card-header {
    width: 100%;
  }

 

  .code_logo {
    height: 100%;
  }

  .code_logo img {
    height: 20px;
    margin-right: 10px;
  }

  .btn.btn-light {
    border: 1px solid black;
    margin-right: 2px;
    padding: 3px 3px;
    font-size: 12px;
  }

  .card-header {
    font-size: 20px;
  }
 
  .btn.orange {
    background-color: #ff8f00;
    font-size: 10px;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
  }

  .btn.red {
    background-color: red;
    font-size: 10px;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
  }

  /* parte faq */

  #faq {
    margin: 20px 0px
  }

 /* Parte todo */

 #todo {
    margin-bottom: 20px;
 }

 /* parte img graphic */

 .img_container img {
    max-width: 100%;
    object-fit: contain;
 }